:host::ng-deep {
  section.hero {
    margin-left: -36px;
    margin-right: -36px;
    margin-bottom: 1.25rem;
    margin-top: -8px;
  }

  .button {
    margin: 0.5rem;
  }

  .field, .buttons {
    .button {
      margin: 0;
    }
  }
}
