@import 'ui/core/theming/all-theme';
@import 'bulma/bulma';

html {
  position: relative;
  min-height: 100%;
  background: #ffffff;
}

body {
  background: #f2f7f8;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #54667a;
  font-weight: 300;
}

.bd-example,
.bd-structure,
.bd-snippet {
  border: 1px solid #ffdd57;
  position: relative;
}

.bd-example:before,
.bd-structure:before,
.bd-snippet:before {
  background: #ffdd57;
  border-radius: 3px 3px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: "Example";
  display: inline-block;
  font-size: 7px;
  font-weight: bold;
  left: -1px;
  letter-spacing: 1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}

@media screen and (min-width: 769px), print {
  .bd-example.is-fullwidth,
  .bd-structure.is-fullwidth,
  .bd-snippet.is-fullwidth {
    border-left: none;
    border-right: none;
    padding: 0;
  }
}

.bd-example,
.bd-structure {
  padding: 1.5rem;
}

.bd-example:not(:first-child),
.bd-structure:not(:first-child) {
  margin-top: 2rem;
}

.bd-example:not(:last-child),
.bd-structure:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bd-example.bd-is-clipped {
  border-top-right-radius: 5px;
}

.bd-example + .highlight {
  border: 1px solid #ffdd57;
  border-radius: 0 0 3px 3px;
  border-top: none;
  margin-top: -1.5rem;
}

.bd-example + .highlight:not(:last-child) {
  margin-bottom: 1.5rem;
}
